.dropdown-item :hover {
    background-color: #d3d3d3;
}

.dropdown-content :hover {
    all: revert;
}

.dropdown-header {
    position: sticky;
    top: 0px;
    padding: 4px 12px;
    background: white;
    border-bottom: 1px solid #c7c7c7;
    text-align: center;
}

.header-title {
    margin-bottom: 0px;
}

.header-subtitle {
    margin-top: 0px;
}

.header-subtitle b {
    font-size: 1.2em;
    color: red;
}

.header-buttons {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.btn {
    position: relative;
    display: inline-block;
}

.btn :hover{
    background-color: #d3d3d3;
    border-radius: 5px;
}
